::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #979ba1;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 8px;
    background-color: #56565C;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 8px;
    background-color: #56565C;
    -webkit-border-radius: 4px;
}